body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
}

.card {
  background: white;
  max-width: 420px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

button {
  width: 260px;
  padding: 10px;
  margin: 6px auto;
  display: block;
}

#timer {
  font-size: 22px;
  color: red;
}